/* variables */

:root {
	--sm: 450px;
	--md: 600px;
	--lg: 800px;

	--yellow1: #cfd466;
	--yellow2: #fff01f;
	--yellow3: #fdf800;
	--neonyellow: #ffff33;
	--greyblueD: #669999;
	--greyblue1: #7da4c0;
	--greyblue2: #759daf;
	--grayblue3: #6790b3;
	--transparent: rgba(0, 0, 0, 0);
	--transparentD: rgba(0, 0, 0, 0.25);
}

* {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	font-family: "Titillium Web", sans-serif;
}

html {
	background-color: blueviolet;
	font-family: "Titillium Web", sans-serif;
}
.margin-box {
	display: flex;
	flex-direction: row-reverse;

	background-color: pink;
}
/* side stripe styles */
.socials {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 10%;
	background-color: var(--greyblue1);
}
.top-btn {
	position: fixed;
	bottom: 7%;
	right: 0%;

	width: 3rem;
	height: 3rem;
	background-color: var(--greyblueD);
	border-radius: 200px;
	box-shadow: none;
	color: #fff;
	border: none;
}
/* header style  */
.header {
	color: white;
	position: sticky;
	background-color: var(--greyblue1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* min-height: 50px; */
	max-height: 50px;
}

@media only screen and (min-width: 700px) {
	.header {
		max-height: 60px;
		background-color: var(--greyblue1);
	}
}

@media only screen and (min-width: 1200px) {
	.header {
		max-height: 80px;
		background-color: var(--greyblue1);
		font-size: 1.3rem;
	}
}

.header-items {
	display: flex;
	flex-direction: row;
}

.header .header-items.brand-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--greyblue2);
	padding: 1% 1% 4%;
	height: 100%;
	margin: auto auto auto 10%;
	border-radius: 0 0 80px 80px;
}
.header-items .brand {
	background-color: var(--greyblue2);
	max-width: 100px;
	max-height: 100px;
	position: relative;
	display: inline-block;
	margin-top: 15%;
}

.header .logo-container {
	max-height: 100px;
	height: 100%;
}

.logo-container .logo {
	height: 100%;
	width: 100%;
	min-width: 40px;
	max-width: 100px;
	clip-path: polygon(0 0, 80% 0%, 110% 100%, 0% 100%);
	padding: 5% 5% 5% 0;
	border-radius: 0 0 50px;
	background-color: var(--greyblue2);
	position: relative;

	/* margin: 5% 0 0 10%; */
}

@media only screen and (min-width: 600px) {
	.logo-container .logo {
		height: 100%;
		width: 100%;
		max-width: 150px;
		background-color: var(--greyblue2);
	}
}

@media only screen and (min-width: 1200px) {
	.logo-container .logo {
		height: 100%;
		width: 100%;
		border-radius: 0 0 80px;
		max-width: 200px;
	}
}

.header-list li {
	display: none;
}

@media only screen and (min-width: 600px) {
	.header-list ul {
		display: flex;
		margin: auto;
	}

	.header-list ul li {
		margin: auto 10px;
	}
}

.language span {
	margin: auto;
	padding: 1%;
}

.hamb-container {
	margin-right: 5%;
}
.hamb-container .hamb {
	margin: auto;
}
/* header styles  */

/* nav styles */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgba(17, 17, 17, 0.418);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: rgb(243, 255, 73);
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* main content style */

main {
}

.video-container {
	display: none;
}

#myVideo {
	display: none;
}

.hero {
	color: hsl(0, 0%, 95%);
	padding: 20% 0;
	background: linear-gradient(var(--transparentD), var(--transparentD)),
		url("/images/zapatillas-trail-running-race-light-2.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	line-height: 1.3rem;
}

.hero a {
	color: var(--yellow2);
	font-size: 1.2rem;
}
.hero-content {
	z-index: 1000;
	padding: 5%;
}

.hero h1 {
	color: var(--neonyellow);
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.4rem;
	margin-bottom: 4%;
	font-size: 3rem;
	max-width: 90%;
	margin-top: 10%;
}

@media only screen and (min-width: 700px) {
	.hero {
		padding: 0;
		line-height: 2rem;
	}
	.hero-content {
		padding: 10% 5%;
	}

	.hero h1 {
		font-size: 3rem;
		line-height: 3rem;
		max-width: 65%;
	}
	.hero h3 {
		font-size: 2rem;
		line-height: 2.4rem;
	}
	.hero p {
		font-size: 1.5rem;
	}
	.hero a {
		font-size: 2.1rem;
	}
	.video-container {
		display: none;
	}
	#myVideo {
		display: none;
		height: 100%;
		width: 100%;
	}
}
@media only screen and (min-width: 1200px) {
	.hero {
		background: none;

		line-height: 2rem;
	}
	.hero-content {
		padding: 0%;
		position: absolute;
		margin: 3% 11% 25%;
	}

	.hero h1 {
		font-size: 5rem;
		line-height: 5rem;
		max-width: 65%;
	}
	.hero h3 {
		font-size: 3rem;
		line-height: 3rem;
	}
	.hero p {
		font-size: 1.6rem;
	}

	.video-container {
		display: block;
	}
	#myVideo {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.footer {
	background-color: aquamarine;
	padding: auto;
	margin: 5% auto;
}
